<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/lomoye-backend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/lomoye-backend-%d{MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="DebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/lomoye-backend-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/lomoye-backend-debug-%d{MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{36}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.lomoye.hours.core.dao" level="WARN"/>
    <logger name="com.lomoye" level="DEBUG"/>

    <logger name="org.springframework" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="DebugFile"/>
    </root>

</configuration>