<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lomoye.hours.core.dao.ArticleMapper">
    <sql id="condition">
        <where>
            <if test="condition.id != null">
                id = #{condition.id}
            </if>
        </where>
    </sql>

    <sql id="selectAllField">
        select id,title,content,author,source,picture,`index`,create_time,modify_time from article
    </sql>

    <select id="selectWithPage" parameterType="Map" resultType="Article">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.paged"/>
    </select>

    <select id="selectByCondition" parameterType="Map" resultType="Article">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.orderby"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="Article">
        <include refid="selectAllField"/>
        where id=#{key}
    </select>

    <select id="selectOne" parameterType="Map" resultType="Article">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        limit 1
    </select>

    <select id="selectCount" parameterType="Map" resultType="long">
        select count(*) from article
        <include refid="condition"/>
    </select>

    <insert id="insert" keyProperty="id" parameterType="Article">
        insert into article
        (title,content,author,source,picture,`index`,create_time,modify_time)
        VALUES
        (#{title},#{content},#{author},#{source},#{picture},#{index},#{createTime},#{modifyTime})
    </insert>

    <update id="updateByPrimaryKey" parameterType="Article">
        update article set 
        title=#{title},
        content=#{content},
        author=#{author},
        source=#{source},
        picture=#{picture},
        `index`=#{index},
        modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from article
        where id = #{key}
    </delete>

    <delete id="deleteByCondition" parameterType="Map">
        delete from article
        <include refid="condition"/>
    </delete>
</mapper>