<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lomoye.hours.core.dao.ItemGoalMapper">
    <sql id="condition">
        <where>
            <if test="condition.id != null">
                id = #{condition.id}
            </if>
            <if test="condition.userId != null">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition.status != null">
                AND `status` = #{condition.status}
            </if>
        </where>
    </sql>

    <sql id="selectAllField">
        select id,user_id,start_time,end_time,credit_rate,`status`,create_time,modify_time from item_goal
    </sql>

    <select id="selectWithPage" parameterType="Map" resultType="ItemGoal">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.paged"/>
    </select>

    <select id="selectByCondition" parameterType="Map" resultType="ItemGoal">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.orderby"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="ItemGoal">
        <include refid="selectAllField"/>
        where id=#{key}
    </select>

    <select id="selectOne" parameterType="Map" resultType="ItemGoal">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        limit 1
    </select>

    <select id="selectCount" parameterType="Map" resultType="long">
        select count(*) from item_goal
        <include refid="condition"/>
    </select>

    <insert id="insert" keyProperty="id" parameterType="ItemGoal">
        insert into item_goal
        (user_id,start_time,end_time,credit_rate,`status`,create_time,modify_time) 
        VALUES
        (#{userId},#{startTime},#{endTime},#{creditRate},#{status},#{createTime},#{modifyTime})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ItemGoal">
        update item_goal set 
        user_id=#{userId},
        start_time=#{startTime},
        end_time=#{endTime},
        credit_rate=#{creditRate},
        `status`=#{status},
        modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from item_goal
        where id = #{key}
    </delete>

    <delete id="deleteByCondition" parameterType="Map">
        delete from item_goal
        <include refid="condition"/>
    </delete>
</mapper>