<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lomoye.hours.core.dao.ItemParamValueMapper">
    <sql id="condition">
        <where>
            <if test="condition.id != null">
                id = #{condition.id}
            </if>
            <if test="condition.itemRecordId != null">
                AND item_record_id = #{condition.itemRecordId}
            </if>
            <if test="condition.itemId != null">
                AND item_id = #{condition.itemId}
            </if>
            <if test="condition.itemParamId != null">
                AND item_param_id = #{condition.itemParamId}
            </if>
        </where>
    </sql>

    <sql id="selectAllField">
        select id, item_record_id,item_param_id,item_id,`value`,create_time,modify_time from item_param_value
    </sql>

    <select id="selectWithPage" parameterType="Map" resultType="ItemParamValue">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.paged"/>
    </select>

    <select id="selectByCondition" parameterType="Map" resultType="ItemParamValue">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        <include refid="com.lomoye.common.dao.orderby"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultType="ItemParamValue">
        <include refid="selectAllField"/>
        where id=#{key}
    </select>

    <select id="selectOne" parameterType="Map" resultType="ItemParamValue">
        <include refid="selectAllField"/>
        <include refid="condition"/>
        limit 1
    </select>

    <select id="selectCount" parameterType="Map" resultType="long">
        select count(*) from item_param_value
        <include refid="condition"/>
    </select>

    <insert id="insert" keyProperty="id" parameterType="ItemParamValue">
        insert into item_param_value
        (item_record_id,item_param_id,item_id,`value`,create_time,modify_time)
        VALUES
        (#{itemRecordId},#{itemParamId},#{itemId},#{value},#{createTime},#{modifyTime})
    </insert>

    <update id="updateByPrimaryKey" parameterType="ItemParamValue">
        update item_param_value set
        item_record_id=#{itemRecordId},
        item_param_id=#{itemParamId},
        item_id=#{itemId},
        `value`=#{value},
        modify_time=#{modifyTime}
        where id=#{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from item_param_value
        where id = #{key}
    </delete>

    <delete id="deleteByCondition" parameterType="Map">
        delete from item_param_value
        <include refid="condition"/>
    </delete>
</mapper>